// app/layout.styl

@import '../_variables'
@import '../_mixins'
@import 'footer'


// your styles here:
body-padding = 2em

body
  background white
  padding-top body-padding
  padding-bottom body-padding
