section.page.pageOne
  .row
    .col
      h2(data-hook="name")
    .col
      a.h3(data-hook="info")

  h3(style="margin-top: 2em;").mb-3 Propune un film:
  .input-group.input-group-lg.mb-4
    input.form-control(data-hook="suggest-input" type='text', placeholder="IMDB link", aria-label="IMDB link")
    .input-group-append
      button.btn.btn-success(data-hook="action-suggest-movie" type='button') Propune

  h3.mt-5 Filme propuse:
  ul.list-group.mt-4.mb-5(data-hook="movie-list")


