section.page.pageOne
  h3 Filme propuse:
  ul.list-group.mt-3(data-hook="movie-list")

  button.btn.btn-success.btn-lg.float-right.mt-3(data-hook="submit-vote") Voteaza

  .buttons.btn-group
    button.btn.btn-default(data-hook="add") .addRandom()

  h3.mt-5 Propune un film:

