li(data-hook="action-select" style="cursor: pointer;").person.list-group-item.container.hvr-grow-shadow
  img(data-hook="avatar", width="40", height="40")
  a(data-hook="name")
  span.btn-group.float-right 
    div(style="margin-top: 6px;")
      .pretty.p-icon.p-curve.p-smooth(style="font-size: 32px;")
        input(data-hook="checkbox" type='checkbox')
        .state.p-success(style="margin-right: -42px;")
          i.icon.mdi.mdi-check
          label
