.card.movie-card(data-hook="action-select").hvr-underline-reveal
  .movie-poster(data-hook="poster")
    .card-body.movie-body
      .row
        .col-md-9.col-sm-12
          a.movie-title(data-hook="name").mr-2
          span
            | (
            span.movie-year(data-hook="year")
            | )
        .col-md-3.col-sm-12
          .movie-rating-container
            span.movie-rating(data-hook="rating").mr-2
            img(width='42' height='29' src="/public/images/imdb.png").mb-1
      p.movie-genre(data-hook="genre")
      p.movie-plot.mt-2(data-hook="plot")
      .movie-votes
        span(data-hook="votes")
        | &nbsp;voturi
        .pretty.p-icon.p-curve.p-smooth(style="font-size: 32px;").mr-0.ml-3
          input(data-hook="selected", type="checkbox")
          .state.p-success(style='width: 34px;')
            i.icon.mdi.mdi-check
            label



